/* Customizer */
.theme-customizer {
    position: fixed;
    top: 10px;
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 10px;
    color: #8cca77;
}

.theme-customizer:hover {
    background-color: #8cca77 !important;
    color: white;
}

.ant-segmented-item {
    padding: 0;
}

.customize-title {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    margin-bottom: 0 !important;
    margin-top: 1.5rem;
    font-size: 0.875rem;
}

.customize-desc {
    color: #878a99 !important;
    margin-top: 0;
    margin-bottom: 0.6rem;
    font-size: 0.875rem;
}


/* Carousel */
.slick-dots {
    left: 0;
    width: auto !important;
    padding-left: 20px !important;
}

.slick-prev {
    left: auto !important;
    right: 50px !important;
    top: calc(100% + 16px) !important;
}

.slick-next {
    left: auto !important;
    right: 25px !important;
    top: calc(100% + 16px) !important;
}

.slick-next, .slick-prev {
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
}

.tech-stack-imgs {
    width: 100%;
    cursor: pointer;
    filter: grayscale(.5);
    transition: filter 0.3s ease-out;
}

.tech-stack-imgs:hover {
    filter: none;
}